<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
    <style>
        table {
            border: 1px solid #000;
        }

        th, td {
            border: 1px dotted #555;
        }
    </style>
</head>
<body>
There are <span th:text="${songs.size()}"></span> song(s).
<table>
    <caption>Songs List</caption>
    <h5><a th:href="@{/songs/create}">Add new song</a></h5>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Singer</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${songs}">
        <td th:text="${s.id}"></td>
        <td>
            <a th:href="@{/songs/{id}(id=${s.id})}" th:text="${s.name}"></a>
        </td>
        <td th:text="${s.singer}"></td>
        <td><a th:href="@{/songs/{id}(id=${s.id})}" >Edit</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>