<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="container mt-2 mb-2 pt-5 pb-5" id="article-grid">
    <h1>Blogs</h1>
    <table class="table table-bordered ">
        <thead>
        <tr class="bg-info">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="blog : ${blogs}">
            <tr>
                <td th:text="${blog.id}"></td>
                <td th:text="${blog.name}"></td>
                <td th:text="${blog.author}"></td>
                <td th:text="${blog.title}"></td>
                <td th:text="${blog.category.name}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
<script src="/js/bootstrap.js"></script>
</html>