<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="text-center container-fluid" id="table">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Birthday</th>
            <th scope="col">Address</th>
            <th scope="col">Type</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.customerId}"></td>
            <td th:text="${customer.customerName}"></td>
            <td th:text="${customer.customerGender}"></td>
            <td th:text="${#dates.format(customer.customerBirthday, 'dd/MM/yyyy')}"></td>
            <td th:text="${customer.customerAddress}"></td>
            <td th:text="${customer.customerType.customerTypeName}"></td>
            <td>
                <button class="view" type="button">View</button>
                <input type="hidden" th:value="${customer.customerId}">
                <button class="btn btn-danger deleteShow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                </button>
                <input type="hidden" th:value="${customer.customerId}">
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/customer' (page=${customers.number - 1})}"
           th:if="${customers.hasPrevious()}">Previous</a>
        <span th:text="${customers.number+1}"></span>/<span th:text="${customers.totalPages}"></span>
        <a th:href="@{'/customer' (page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
    </div>
</div>
    <script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.5.1.min.js"></script>

</body>
</html>