<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/create.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div>
    <div th:replace="layout/header::header"></div>
    <div class="border border-3 row h-75 container">
        <div class="col-lg-3 border border-3">
            <a class="nav-link " href="/customer/create">Create New Customer</a>
            <a class="nav-link " href="#">Item 2</a>
            <a class="nav-link " href="#">Item 3</a>
        </div>
        <div class="col-lg-9 text-center container-fluid">
            <div class="signup-form">
                <form th:action="@{/customer/update}" method="post" class="form-horizontal" th:object="${customerDto}">
                    <div class="row">
                        <div class="col-8 offset-4">
                            <h3 style="color:lightseagreen">Update Customer</h3>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">ID Customer</label>
                        <div class="col-8">
                            <input type="hidden" class="form-control" th:field="*{customerId}">
                            <h5 style="color: black;margin-top: 9px;" th:text="${customerDto.customerId}"></h5>
                            <p style="color: red" th:if="${#fields.hasErrors('customerId')}"
                               th:errors="*{customerId}"></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Name</label>
                        <div class="col-8 mt-2">
                            <input class="form-control" type="text" th:field="*{customerName}">
                            <p style="color: red" th:if="${#fields.hasErrors('customerName')}"
                               th:errors="*{customerName}"></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Gender</label>
                        <div class="col-8 mt-2">
                            <input type="radio" th:if="${customerDto.customerGender==true}"
                                   checked name="customerGender">Male
                            <input type="radio"
                                   th:if="${customerDto.customerGender==false}" checked name="customerGender">Female
                            <p style="color: red" th:if="${#fields.hasErrors('customerGender')}"
                               th:errors="*{customerGender}"></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Birthday</label>
                        <div class="col-8 mt-2">
                            <input class="form-control h-75" type="date" th:field="*{customerBirthday}">
                            <p style="color: red" th:if="${#fields.hasErrors('customerBirthday')}"
                               th:errors="*{customerBirthday}"></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Customer Type</label>
                        <div class="col-8 mt-2">
                            <select th:field="*{customerType}">
                                <option th:each=" type : ${customerTypeList}" th:text="${type.customerTypeName}"
                                        th:value="${type.customerTypeId} "></option>
                            </select>
                            <p style="color: red" th:if="${#fields.hasErrors('customerType')}"
                               th:errors="*{customerType}"></p>
                        </div>
                    </div>
                    <div class=" form-group row">
                        <label class="col-form-label col-4">Id Card</label>
                        <div class="col-8 mt-2">
                            <input class="form-control" type="text" th:field="*{customerIdCard}">
                            <p style="color: red" th:if="${#fields.hasErrors('customerIdCard')}"
                               th:errors="*{customerIdCard}"></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Phone</label>
                        <div class="col-8 mt-2">
                            <input class="form-control" type="text" th:field="*{customerPhone}">
                            <p style="color: red" th:if="${#fields.hasErrors('customerPhone')}"
                               th:errors="*{customerPhone}"></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">E-mail</label>
                        <div class="col-8 mt-2">
                            <input class="form-control" type="email" th:field="*{customerEmail}">
                            <p style="color: red" th:if="${#fields.hasErrors('customerEmail')}"
                               th:errors="*{customerEmail}"></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Address</label>
                        <div class="col-8 mt-2">
                            <input class="form-control" type="text" th:field="*{customerAddress}">
                            <p style="color: red" th:if="${#fields.hasErrors('customerAddress')}"
                               th:errors="*{customerAddress}"></p>
                        </div>
                    </div>
                    <div class="form-group col-lg-8 float-lg-end">
                        <button type="submit" class="btn btn-success btn-lg col-lg-6">Update Customer</button>
                        <a style="color: white" href="/customer" class="btn btn-secondary btn-lg col-lg-2 float-lg-end">Return</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="layout/footer::footer"></div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>