<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <script src="../../static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid" th:fragment="header">
        <div class="row">
            <div class="col-lg-10">
                <img width="75px"
                     src="../../static/x512x512.b34453a20c19849144c890211fcce945.ai.1.png.pagespeed.ic.SHuE2e4RHb.webp">
            </div>
            <div class="col-lg-2 mt-lg-3 pe-lg-5">
                <a href="#" class="nav-link float-lg-end">Nguyvvvvvvvvvvvvvvvven Van A</a>
            </div>
        </div>
    </div>
</body>
</html>