<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit blog</title>
</head>
<body>
<h1>Edit blog</h1>
<p>
    <a href="/blogs">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/blogs/edit}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name Blog:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Author :</td>
            <td><input type="text" th:field="*{author}"/></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <th:block th:each="c : ${categorys}">
                        <option th:value="${c.id}" th:text="${c.name}"></option>
                    </th:block>
                </select>
            </td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><textarea type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update blog"></td>
        </tr>
    </table>
</form>
</body>
</html>
