<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>
    <a href="/shop">Quay lại trang chủ</a>
</h2>
<span th:object="${product}">
    <input type="hidden" th:value="${product.id}" name="id">
    <img th:src="${product.img}">
    <p th:text="${product.name}"></p>
    <p th:text="${product.description}"></p>
    <del th:text="${#numbers.formatDecimal(product.priceOld, 0, 'COMMA', 0, 'POINT')}"></del><small>đ</small>
    <span th:text="${#numbers.formatDecimal(product.priceNow, 0, 'COMMA', 0, 'POINT')}"></span><small>đ</small><br>
   <h1> <a style="color: darkorange" th:href="@{/add/__${product.id}__}">Mua ngay</a></h1>
</span>
</body>
</html>