<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
<div th:replace="layout/header::header"></div>
<!--<div class="notify">-->
<!--    <div th:if="${smg}">-->
<!--        <span th:text="${smg}"></span>-->
<!--    </div>-->
<!--</div>-->
<div id="form">
    <form action="#" th:action="@{/service/update}" th:object="${service}"
          method="POST" novalidate="novalidate">
        <div>
            <label>Id</label>
            <input type="text" th:field="*{serviceId}" class="input" hidden/>
        </div>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{serviceName}" class="input"/>
        </div>
        <div>
            <label>Area</label>
            <input type="text" th:field="*{serviceArea}" class="input"/>
            <p th:if="${#fields.hasErrors('serviceArea')}" th:errors="*{serviceArea}"></p>
        </div>
        <div>
            <label>Cost</label>
            <input type="text" th:field="*{serviceCost}" class="input"/>
            <p th:if="${#fields.hasErrors('serviceCost')}" th:errors="*{serviceCost}"></p>
        </div>
        <div>
            <label>Max people</label>
            <input type="text" th:field="*{serviceMaxPeople}" class="input"/>
            <p th:if="${#fields.hasErrors('serviceMaxPeople')}" th:errors="*{serviceMaxPeople}"></p>
        </div>
        <div>
            <label>Standard Room</label>
            <input type="text" th:field="*{standardRoom}" class="input"/>
        </div>
        <div>
            <label>Description</label>
            <input type="text" th:field="*{descriptionOtherConvenience}" class="input"/>
        </div>
        <div>
            <label>Pool Area</label>
            <input type="text" th:field="*{poolArea}" class="input"/>
            <p th:if="${#fields.hasErrors('poolArea')}" th:errors="*{poolArea}"></p>
        </div>
        <div>
            <label>Number of floors</label>
            <input type="text" th:field="*{numberOfFloors}" class="input"/>
            <p th:if="${#fields.hasErrors('numberOfFloors')}" th:errors="*{numberOfFloors}"></p>
        </div>
        <div>
            <label>Rent Type</label>
            <select th:field="*{rentType}">
                <option th:value="null" selected >Choose option</option>
                <option th:each="item:${rentType}" th:value="${item.rentTypeId}"  th:text="${item.rentTypeName}"></option>
            </select>
            <p th:if="${#fields.hasErrors('rentType')}" th:errors="*{rentType}"></p>
        </div>
        <div>
            <label>Service Type</label>
            <select th:field="*{serviceType}">
                <option th:value="null" selected >Choose option</option>
                <option th:each="item:${typeService}" th:value="${item.serviceTypeId}"  th:text="${item.serviceTypeName}"></option>
            </select>
            <p th:if="${#fields.hasErrors('serviceType')}" th:errors="*{serviceType}"></p>
        </div>
        <input type="submit" value="Save"/>
    </form>
    <div th:replace="layout/footer::footer"></div>
</div>

</body>
</html>