<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div>
    <div th:replace="layout/header::header"></div>
    <div class="border border-3 row h-75">
        <div class="col-lg-3 border border-3">
            <a class="nav-link " href="#">Item 1</a>
            <a class="nav-link " href="#">Item 2</a>
            <a class="nav-link " href="#">Item 3</a>
        </div>
        <div class="col-lg-9 text-center">
            Body
        </div>
    </div>
    <div th:replace="layout/footer::footer"></div>
</div>

<script src="js/bootstrap.min.js"></script>
</body>
</html>